<% if !element.meta.blank? %>
  <dl style="margin-top:0em;margin-bottom:0em;">
	  <dd style="display:none"></dd>
	  <dd>		<% t = Time.now %>
	    <div id="<%= element.meta.id%>_meta_div"> 
			<%= render :partial => 'definitions/meta', :locals => {:meta_location => t.to_f, :meta => meta , :head_id => head_id} %>	
		</div>
	  </dd>
  </dl>
<% end %>