<script>
	function clear_bars(){
		<% @alphabet.each do |letter|%>
		$('#<%=letter.id%>').hide();
		<% end %>
	}
</script>

<div id="popup_dialog">
</div>

<table id="alphabet" width="100%">
	<tr>
<% @alphabet.each do |letter|%>
	<td>
	<%#= link_to_remote letter.unicode.span, {:url => {:controller => 'browse', :action => 'index',:letter => "#{letter.id}", :junk => Time.new.to_f.to_s}, :update => "letter_list",  :method => 'get', :loading => "$('#loader').show();clear_bars();$('#letter_list').hide();", :success => "tb_init('a.thickbox, area.thickbox, input.thickbox');", :complete => "$('#letter_list').show();$('#loader').hide();$('#'+'#{letter.id}').show();"}   %>
	
	<%= link_to letter.unicode.span, {:controller => 'browse', :action => 'index', :letter => "#{letter.id}", :junk => Time.new.to_f.to_s},  :remote => true, :class => 'ui_definition_dialog', :title=>'Terms for root letter' %>
	
	</td>
<% end %>
	</tr>
		<tr>
	<% @alphabet.each do |letter|%>
		<td>
			<%= image_tag('bar.png',:id => letter.id, :style => 'display:none')%>
		</td>
	<% end %>
		</tr>
</table>
<hr>
<div id="loader" style="display:none"><%= image_tag('loadingAnimation2.gif')%></div>

<div id="letter_list">
	Clicking a Tibetan letter above will give you a list of every 100th Tibetan term with that root letter. Clicking on one of the terms will then expand the full set of 100 terms beginning with that term. You can thus quickly browse to find the range where your term will be.  Clicking on any of the resultant terms will then expand the corresponding dictionary entry within the browsing mode. If you prefer to see only the entry on the screen, click on the word "view" to the right of the term you want to view.
</div>